.message {
    color: #390;
    font-size: 2em;
}
.error {
    color: #f00;
    font-size: 2em;
}
input {
    display: block;
}
select {
    display: block;
}
input[name=submit] {
    margin-top: .5em;
    display: block;
}
label {display:block;}
textarea { display:block;}
