.message {
    color: #390;
    font-size: 2em;
}
.error {
    color: #f00;
    font-size: 2em;
}
input {
    display: block;
}
select {
    display: block;
}
.submit {
    padding-top: .5em;
    display: block;
}
